alter table providers alter column user_id type text using user_id::text; alter table stock alter column user_id type text using user_id::text; alter table orders alter column user_id type text using user_id::text; alter table users alter column id type text using id::text;
